<p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"
[showTransformOptions]="'translateX(100%)'"></p-toast> 
<div class="widget-container">
  <div class="row" >
    <div class="col-md-6" >
      
      <div class="widget light-blue ">
        <div class="icon">
          <fa-icon [icon]="faPrint"></fa-icon>
        </div>
        <div class="value">
          <div class="top">{{printers_num}}</div>
          <div class="bottom">{{'hardware.printers'|translate}}</div>
      
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="widget blue">
        <div class="icon">
          <fa-icon [icon]="faDoorOpen"></fa-icon>
        </div>
        <div class="value">
          <div class="top">{{accessControls_num}}</div>
          <div class="bottom">{{'hardware.accessControls'|translate}}</div>
          
            <!-- <span>(admins)</span> -->
          </div>
        </div>
      </div>
    </div>
    
   

</div>

<div class="row">
  <p-table #dt1 
  [value]="accessControlPrinter" 
  [paginator]="true"
   [rows]="5" 
   [tableStyle]="{ 'min-width': '50rem' ,'width':'100%'}"
    styleClass="table " selectionMode="single" [(selection)]="selsectedItem"
    dataKey="id"
     [tableStyle]="{}"
     [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['ip_address']"
    paginatorLocale="fa-IR"
    >
    <ng-template pTemplate="caption" class="row" style="border: none;background-color: #ac8a87;">
      <div class="row" style="padding: 0 1rem;">
      <div class="flex col-md-6" >
          <span class="p-input-icon-left ml-auto">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')" placeholder='{{"users.search"|translate}}' />
          </span>
      </div>
      <div class="col-md-4"></div>
          <div class="flex  col-md-2">
        </div>
      </div>
  </ng-template>
    <ng-template  pTemplate="header">
      <tr style="height: 10px;">
        <th  pSortableColumn="ip_address">
          {{'hardware.printer'|translate}}
        </th>
        <th>{{'hardware.accessControl'|translate}}</th>
        <th  class="operations">
          <button  class="btn table-button add-t-button " (click)="filterUnusedPrintersandAcess()" data-bs-toggle="modal" data-bs-target="#addAcessPrinterMoadl">{{"tabel.add"|translate}}</button>
        </th>
        
      </tr>
    </ng-template>

    <ng-template styleClass="selected-row" pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr [pSelectableRow]="selsectedItem">
        <td>{{rowData.printer.ip_address }}</td>
        <td>{{rowData.access_control.ip_address}}</td>
        <td class="operations">
          <mat-icon (click)="updatePopup(rowData,updatePrinterForm)" style="color: #5C3D54;"  data-bs-toggle="modal" data-bs-target="#updatePrinterMoadl">edit</mat-icon>
       <mat-icon style="margin: 0 20px;color: #5C3D54;"  (click)="onDeeteAcessPrinter(rowData.id)">delete</mat-icon>
        </td>       
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
          <td colspan="7">{{"users.noData"|translate}}</td>
      </tr>
  </ng-template>
  </p-table>
</div>






<div class="modal fade" id="addAcessPrinterMoadl" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width: 80%;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">  {{"hardware.addAccessControls"|translate}} </h2>
      </div>
      <div class="modal-body">
          <form [formGroup]="accessConterolsPrinterForm">
             
              <div style="margin-bottom: 10;" class="row">
                <div  class="col-md-12">
                  <label class="form-label">{{'hardware.accessControls'|translate}}</label>
                  <p-dropdown 
                      [options]="unusedAcesses" 
                      [(ngModel)]="selsectedAcess" 
                      optionLabel="name" 
                      formControlName="access_control"
                      placeholder=" " />
                 
                </div>
            </div>
            <div style="margin-bottom: 10;" class="row">
              <div  class="col-md-12">
                <label class="form-label">{{'hardware.printers'|translate}}</label>
                <p-dropdown 
                    [options]="unusedPrinters" 
                    [(ngModel)]="seletedPrinter" 
                    optionLabel="name" 
                    formControlName="printer"
                    placeholder=" " />
               
              </div>
          </div>
          </form>
          <div class="modal-footer">
            <button type="button" class="btn ssc-table-button" data-bs-dismiss="modal">
              {{"tabel.close"|translate}}
            </button>
            <button type="button" [disabled]="!accessConterolsPrinterForm.valid" class="btn table-button"
              (click)="onAddAcessControllerPrinter()"  (keyup.enter)="onAddAcessControllerPrinter()" data-bs-dismiss="modal">
              {{"tabel.submit"|translate}}
            </button>
          </div>
          </div>
      </div>



      