*{
  overflow-y: hidden;
  overflow-x: hidden;
}
.vl {
    border-left: 3px solid #3333;
    height: 80vh;
}
    
.container-casher {
  overflow: hidden;
   padding: 1.5rem 1rem 3rem 0;
   display: flex;
}


.selected-row {
    background-color: rgb(241, 58, 58) !important;
    color: #fff !important;
    font-size: large;
  
  }
  .other-class{
    background-color: #3333 !important;
  }