<p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"
[showTransformOptions]="'translateX(100%)'"></p-toast> 
<div  class="container-casher">
  <div  class="col-xl-4">
    <div  class="row"   style="padding: 0;" >
      <div  class="col-xl-12"   style="padding: 0.5rem 1rem 1rem 1.5rem;">
        <label class="form-label">QR</label>
        <input style="width: 100%;" class="form-control"/>
      </div>
      <div style="margin-top: 10px;"  class="col-xl-12" style="padding: 0.5rem 1rem 0 1.5rem;"  >
        <div class="form" style="width: 100%;border-radius: 10px;">
          <h2 class="text-center" style="margin-top: -30px;">{{"transactions.title"|translate}}</h2>
          <form [formGroup]="transForm">
            <div class="row">
              <div class="col-md-12" >
                <p>
                  {{"transactions.fine"|translate}}
                  <input type="checkbox" value="fine" (change)="checked($event)"  [checked]="isFineChecked">
                </p>
              </div>
            </div>
            <div class="row"  style="margin-top: 10px;">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-1"> 
                    <label class="form-label">{{"cacheir.visitor"|translate}}</label>
                  </div>
                  <div class="col-md-2"> 
                    <span style="color: #000;">{{"cacheir.yes"|translate}}
                      <input type="radio" value="visitor" formControlName="type" [ngClass]="{'disabled-input': transForm.get('type')?.disabled}">
                    </span>
                  </div> 
                  <div class="col-md-2"> 
                    <span  style="color: #000;">{{"cacheir.no"|translate}}
                      <input type="radio" value="not_visitor" formControlName="type">
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label class="form-label">{{"transactions.from"|translate}}</label>
                <input type="datetime-local" class="form-control" formControlName="from_time"  [ngClass]="{'disabled-input': transForm.get('from_time')?.disabled}"/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label class="form-label">{{"transactions.comment"|translate}}</label>
                <textarea style="height: 100px;" class="form-control" formControlName="comment"></textarea>
              </div>
             
          
            </div>
          <div class="row">
            <button  type="submit"  class="add" style="margin-top: 50px;width: 90% !important;" (click)="onsubmit()" (keyup.enter)="onsubmit()" type="submit" [disabled]="!transForm.valid">{{'transactions.open'|translate}}</button>   
          </div>
          </form>
          <div class="row">
            <div class="col-md-12">
              <label></label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="vl"></div>
  <div class="col-xl-8" >
    <div class="container-casher" style="padding: 1.5rem 1rem 3rem 0;">
      <div class="table-container col-xs-12" style="width: 100%;  padding: 0;height:75vh ; overflow-y: scroll;">
        <p-table #dt1 [value]="transactions" styleClass="table" selectionMode="single" dataKey="id">
          <ng-template pTemplate="header">
            <tr style="height: 10px;">
              <th>{{"transactions.type"|translate}}</th>
              <th>{{"transactions.price"|translate}}</th>
              <th>{{"transactions.from"|translate}}</th>
              <th>{{"transactions.to"|translate}}</th>
              <th>{{"transactions.duration"|translate}}</th>
            </tr>
          </ng-template>
      
          <ng-template styleClass="selected-row" pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr [pSelectableRow]="transactions" [ngClass]="{'selected-row': rowData.type === 'fine', 'other-class': rowData.type == 'visitor'}">
              <td>{{rowData.type}}</td>
              <td>{{rowData.price}}</td>
              <td>{{rowData.from_time | date:'yyyy-MM-dd'}}</td>
              <td>{{rowData.to_time | date:'yyyy-MM-dd'}}</td>
              <td >{{rowData.duration_days}}{{"transactions.d"|translate}} , {{rowData.duration_hours}}{{"transactions.h"|translate}},  {{rowData.duration_minutes}}{{"transactions.m"|translate}}
          
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      
  </div>
  </div>
</div>
