<!-- 
<p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"
[showTransformOptions]="'translateX(100%)'"></p-toast> 



<div class="container ">
  <div class="table-container  col-xs-12 col-xl-9" style="width: 100%;padding: 0; ">
    <mat-form-field style="margin:0 50px">
      <mat-label>{{'flter.name'|translate}}</mat-label>
      <input matInput [(ngModel)]="nameFilter" (input)="applyFilters()">
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>{{'flter.from'|translate}}</mat-label>
      <input matInput [matDatepicker]="pickerFrom" [(ngModel)]="fromDateFilter" (dateChange)="applyFilters()">
      <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
      <mat-datepicker #pickerFrom></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>{{'flter.to'|translate}}</mat-label>
      <input matInput [matDatepicker]="pickerTo" [(ngModel)]="toDateFilter" (dateChange)="applyFilters()">
      <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
      <mat-datepicker #pickerTo></mat-datepicker>
    </mat-form-field>
    <p-table #dt1 [value]="filteredData" [paginator]="true" [rows]="20" [tableStyle]="{ 'min-width': '50rem' ,'width':'100%'}"
      (onPage)="pageChange($event)"  styleClass="table " selectionMode="single" [(selection)]="selsectedItem"
      dataKey="id" [tableStyle]="{}">
      <ng-template  pTemplate="header">
        <tr style="height: 10px;">
          <th >{{"subscriptions.name"|translate}} </th>
          <th>{{"subscriptions.address"|translate}} </th>
          <th>{{"subscriptions.phoneNumber"|translate}} </th>
          <th>{{"subscriptions.nationalID"|translate}} </th>
          <th>{{"subscriptions.carNumber"|translate}} </th>
          <th>{{"subscriptions.price"|translate}} </th>
          <th>{{"subscriptions.from"|translate}} </th>
          <th>{{"subscriptions.to"|translate}} </th>
          <th  class="operations">{{"tabel.actions"|translate}}
            <button  class="btn table-button add-t-button " (click)="onAdd()">{{"tabel.add"|translate}}</button>
          </th>
          
        </tr>
      </ng-template>

      <ng-template styleClass="selected-row" pTemplate="body" let-rowData let-rowIndex="rowIndex">
        <tr [pSelectableRow]="selsectedItem">
          
          <td>{{rowData.name}}</td>
          <td>{{rowData.address}}</td>
          <td>{{rowData.phone_number}}</td>
          <td >{{rowData.national_id}}</td>
          <td>{{rowData.car_number+rowData.car_digit}}</td>
          <td>{{rowData.subscription.price}}</td>
          <td >{{rowData.subscription.start_date}}</td>
          <td>{{rowData.subscription.end_date}}</td>
          <td class="operations">
            <mat-icon (click)="updatePopup(rowData)"  style="color: #5C3D54;" data-bs-toggle="modal" data-bs-target="#UpdateModal">edit</mat-icon>
         <mat-icon style="margin: 0 20px;color: #5C3D54;"  (click)="onDelete(rowData.id)">delete</mat-icon>
          </td>       
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<div class="modal fade" id="UpdateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width: 100%;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">  {{"subscriptions.editTile"|translate}} </h2>
      </div>
      <div class="modal-body">
        <form [formGroup]="subscriperUpdateForm">
          <div class="row" formGroupName="supscriper">
            <div class="col-xs-12">
              <label> {{"subscriptions.name"|translate}} </label>
                <input class="form-control" formControlName="name" />
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <label> {{"subscriptions.address"|translate}}</label>
                <input class="form-control" formControlName="address" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>{{"subscriptions.phoneNumber"|translate}} </label>
                <app-EgyptPhoneNumberInput formControlName="phone_number" />
             </div>
             <div class="col-md-6">
              <label>{{"subscriptions.nationalID"|translate}} </label>
                <app-EgyptNationalIdInput  formControlName="national_id" />
             </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label>{{"subscriptions.carNumber"|translate}} </label>
                <input class="form-control" formControlName="car_number" />
             </div>
          </div>
          <div [formGroup]="subscriptionUpdateForm">
            <div class="row">
              <div class="col-md-4">
                <label class="form-label">{{"subscriptions.price"|translate}}</label>
                <input type="number" class="form-control"  formControlName="price"/>
             </div>
            </div>
          
          <div class="row" style="margin-top: 10px;">
            <h2 class="text-center"  >{{"subscriptions.subscriptionDate"|translate}}</h2>
            <div class="col-md-2"></div>
            <div class="col-md-4">
              <label class="form-label">{{"subscriptions.from"|translate}}</label>
              <input type="date" class="form-control"  formControlName="start_date" required/>
           </div>
          
            <div class="col-md-4">
              <label class="form-label">{{"subscriptions.to"|translate}}</label>
              <input type="date" class="form-control"  formControlName="end_date" required/>
           </div>
          </div> 
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn ssc-table-button" data-bs-dismiss="modal">
          {{"tabel.close"|translate}}
        </button>
        <button type="button" [disabled]="!subscriperUpdateForm.valid" class="btn ssc-table-button"
          (click)="onUpdate()" data-bs-dismiss="modal">
          {{"tabel.submit"|translate}}
        </button>
      </div>
    </div>
  </div>
</div>


 -->







 
<p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"
[showTransformOptions]="'translateX(100%)'"></p-toast> 


<div class="container ">

  <div class="table-container  col-xs-12 col-xl-9" style="width: 100%;padding: 0; ">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-2"  style="margin-top:25px">
       
      </div>
     </div>
    <p-table #dt1 [value]="subscriptions" 
    [paginator]="true"
     [rows]="13" 
     [tableStyle]="{ 'min-width': '50rem' ,'width':'100%'}"
      (onPage)="pageChange($event)"
      styleClass="table " selectionMode="single" [(selection)]="selsectedItem"
      dataKey="id"
       [tableStyle]="{}"
       [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [globalFilterFields]="['name', 'address','phone_number','national_id','car_number','car_digit','price','subscription.start_date' ,'subscription.end_date']"
      paginatorLocale="fa-IR"
      >
      <ng-template pTemplate="caption" class="row" style="border: none;background-color: #ac8a87;">
        <div class="row" style="padding: 0 1rem;">

        <div class="flex col-md-6" >
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')" placeholder='{{"users.searchKey"|translate}}' />
            </span>
        </div>
        <div class="col-md-4"></div>
            <div class="flex  col-md-2">
              <button    style="width:100%;height:100%;"  class="print" (click)="exportToExcel(dt1.filteredValue)">{{'button.print'|translate}}</button>   
          </div>
        </div>
    </ng-template>
 
    <th  class="operations">{{"tabel.actions"|translate}}
      <button  class="btn table-button add-t-button " (click)="onAdd()">{{"tabel.add"|translate}}</button>
    </th>
      <ng-template  pTemplate="header">
        <tr style="height: 10px;">
          <th></th>
          <th  pSortableColumn="name">
            <p-sortIcon style="color: #fff;" field="username"></p-sortIcon>
            {{"subscriptions.name"|translate}} 
            <p-columnFilter type="text" field="username" display="menu" 
             [matchModeOptions]="lang === 'en' ? filterOptionsEn : filterOptionsAr" 
             [ngClass]="{'arabic-language': lang === 'ar'}"></p-columnFilter>
          </th>     
         
          <th>{{"subscriptions.from"|translate}} 
            <input pInputText  style="width:80%;display: inline;" type="date" (input)="dt1.filterGlobal($any($event.target).value, 'contains')" placeholder='{{"users.searchKey"|translate}}' />
          </th>
          <th>{{"subscriptions.to"|translate}} 
            <input pInputText  style="width:80%;display: inline;" type="date" (input)="dt1.filterGlobal($any($event.target).value, 'contains')" placeholder='{{"users.searchKey"|translate}}' />
          </th>
          <th style="width:50px;" class="operations">
            <button  class="btn table-button add-t-button " (click)="onAdd()">{{"tabel.add"|translate}}</button>
          </th>
          
        </tr>
      </ng-template>

      <ng-template styleClass="selected-row" pTemplate="body" let-rowData let-rowIndex="rowIndex" pTemplate="body" let-expanded="expanded">
        <tr [pSelectableRow]="selsectedItem">
          <td>
            <button (click)="expanding(rowData)" type="button"  pButton pRipple [pRowToggler]="rowData" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
              <span class="p-button-icon pi pi-chevron-right" aria-hidden="false">></span>
            </button>
        </td>
          <td style="width:24%;">{{rowData.name}}</td>
        
          <td>{{rowData.subscription.start_date  | date:'yyyy-MM-dd'}}
         
          </td>
          <td >{{rowData.subscription.end_date  | date:'yyyy-MM-dd'}}</td>
          <td class="operations">
            <mat-icon (click)="updatePopup(rowData)"  style="color: #5C3D54;" data-bs-toggle="modal" data-bs-target="#UpdateModal">edit</mat-icon>
            <mat-icon style="margin: 0 20px;color: #5C3D54;"  (click)="onDelete(rowData.id)">delete</mat-icon>
          </td>       
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion"  let-rowData >

        <tr>
            <td colspan="7">
                <div class="p-3">
                    <p-table [value]="expanded_row" >
                        <ng-template pTemplate="header" style="height: 20px; padding: 0px;">
                            <tr>
                              <th>{{"subscriptions.address"|translate}}</th>
                              <th>{{"subscriptions.phoneNumber"|translate}}</th>
                              <th>{{"subscriptions.nationalID"|translate}}</th>
                              <th>{{"subscriptions.carNumber"|translate}} </th>
                              <th>{{"subscriptions.price"|translate}} </th>
                            </tr>
                        </ng-template>
                        <ng-template let-rowData let-rowIndex="rowIndex" pTemplate="body">
                            <tr>
                              <td>{{rowData.address}}</td>
                              <td>{{rowData.phone_number}}</td>
                              <td >{{rowData.national_id}}</td>
                              <td >{{rowData.car_number+rowData.car_digit}}</td>
                              <td>{{rowData.subscription.price}}</td>
                               
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="6">There are no order for this product yet.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </td>
        </tr>
    </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="7">{{"users.noData"|translate}}</td>
        </tr>
    </ng-template>
    </p-table>
  </div>
</div>


<div class="modal fade" id="UpdateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width: 80%;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">{{ "subscriptions.editTitle" | translate }}</h2>
      </div>
      <div class="modal-body">
        <form [formGroup]="subscriperUpdateForm">
          <div class="row">
            <div class="col-md-6">
              <label class="form-label">{{ "subscriptions.name" | translate }}</label>
              <input class="form-control" formControlName="name"  />
            </div>
            <div class="col-md-6">
              <label class="form-label">{{ "subscriptions.phoneNumber" | translate }}</label>
              <input class="form-control" formControlName="phone_number"  />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="form-label">{{ "subscriptions.nationalID" | translate }}</label>
              <input class="form-control" formControlName="national_id"  />
            </div>
            <div class="col-md-6">
              <label class="form-label">{{ "subscriptions.address" | translate }}</label>
              <input class="form-control" formControlName="address" required />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label class="form-label">{{ "subscriptions.carNumber" | translate }}</label>
              <input class="form-control" formControlName="car_full_num"  />
            </div>
          </div>
         
          <div  formGroupName="subscription">
          <div class="row" >
            <div class="col-md-6">
              <label class="form-label">{{ "subscriptions.from" | translate }}</label>
              <input type="date" class="form-control" formControlName="start_date"  />
            </div>
            <div class="col-md-6">
              <label class="form-label">{{ "subscriptions.to" | translate }}</label>
              <input type="date" class="form-control" formControlName="end_date"  />
            </div>
          </div>
       
          <div class="row">
            <div class="col-md-12">
              <label class="form-label">{{ "subscriptions.price" | translate }}</label>
              <input type="number" class="form-control" formControlName="price" />
            </div>
          </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn ssc-table-button" data-bs-dismiss="modal">{{ "tabel.close" | translate }}</button>
        <button type="button" class="btn table-button" (click)="onUpdate()" (keyup.enter)="onUpdate()" data-bs-dismiss="modal">{{ "tabel.submit" | translate }}</button>
      </div>
    </div>
  </div>
</div>
