.carousel img {
    width: 70px;
    max-height: 70px;
    border-radius: 50%;
    margin-right: 1rem;
    overflow: hidden;
  }
  .carousel-inner {
    padding: 1em;
  }
  .rating-section {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .rating-section .mat-icon {
    font-size: 24px;
    color: #ffeb3b; /* Yellow color for filled stars */
  }
  
  .rating-section .empty-star {
    color: #e0e0e0; /* Gray color for empty stars */
  }

.image-section {
  display: flex;
  justify-content: center;
  width: 100%;
}
  
  @media screen and (min-width: 576px) {
    .carousel-inner {
      display: flex;
      width: 90%;
      margin-inline: auto;
      padding: 1em 0;
      overflow: hidden;
    }
    .carousel-item {
      display: block;
      margin-right: 0;
      flex: 0 0 calc(100% / 2);
    }
  }
  @media screen and (min-width: 768px) {
    .carousel-item {
      display: block;
      margin-right: 0;
      flex: 0 0 calc(100% / 3);
    }
  }
  .carousel .card {
    margin: 0 0.5em;
    border: 0;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    width: 3rem;
    height: 3rem;
    background-color: grey;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .card-text{
    text-align: center;
  }