<section class="hero-section ">
    <div class="container">
      <div class="header d-flex justify-content-center">
        <h1 style="font-size: 3vmax; font-weight: bolder;" class="p-5"> تركيب عشب طبيعى </h1>
      </div>
        <div class="row gx-4 align-items-center">
            <!-- Hero Content -->
            <div class="col-md-6 order-2 order-md-1 hero-content">
                <h2 class="display-4 fw-bold mb-4 myh2" style="color: #529846;;">توريد وتركيب العشب  والنجيل الطبيعى في المملكة العربية السعودية</h2>
                <div class="divider mb-4"></div>
                <p class="lead mb-4">
                    <strong>شركة بستان الخليج</strong> تقدم خدمة توريد وتركيب جميع أنواع العشب الطبيعي بأعلى جودة وأفضل الأسعار. نستخدم أفضل أنواع العشب الطبيعي التي تناسب البيئة المحلية، لضمان نمو صحي ومظهر جذاب لمساحاتكم الخضراء.
                </p>
                <p class="lead mb-4">
                    سواء كنتم ترغبون في تزيين حدائق المنازل، المساحات العامة، أو الملاعب، فإننا نقدم لكم حلولاً متكاملة تشمل التهوية والري المناسب لضمان بقاء العشب في أفضل حالاته. تتميز شركة بستان الخليج بخبرتها الواسعة في مجال تنسيق وتركيب العشب الطبيعي.
                </p>
                <p class=" mb-4">
                    بفضل فريق عمل متدرب ومهني يمتلك الخبرات والأفكار التي تتناسب مع كل مكان، نحن نحرص على تقديم خدمة شاملة تشمل تركيب العشب وصيانته، لضمان استمرار جمال مساحاتكم الخضراء. <strong>شركة بستان الخليج</strong> في المملكة العربية السعودية ملتزمة بتقديم أعلى جودة وأفضل أسعار للعشب الطبيعي لضمان رضاكم التام.
                </p>
                
               
            </div>
  
            <!-- Hero Image -->
            <div class="col-md-6 order-1 order-md-2">
                <div class="hero-image-wrapper">
                    <img class=" hero-image"  src="../../../../assets/5843704126544922482.jpg">
                    <div class="hero-image-overlay"></div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <div class="container-fluid p-5 section2">
    <div class="d-flex justify-content-center">
        <h1  class="display-4 fw-bold mb-4 myh2"  >تفاصيل عن الخدمة</h1>
    </div>
  
    <p class="lead  mb-4">
        <strong>العشب الصناعي</strong> هو عبارة عن مجموعة من اللفائف التي تحتوي على العديد من الشفرات الرقيقة أو الشعيرات التي تمتاز بلونها الأخضر الطبيعي، لتشبه تمامًا العشب الطبيعي. ينقسم العشب الصناعي إلى العشب المتداخل المعروف باسم “سيتم جراس”، والعشب العريض المعروف باسم “فايبر ليتد”، والعشب النحيف المعروف باسم “مونافايلمنت”.
    </p>
    <p class="lead  mb-4">
        شركة بستان الخليج لتنسيق الحدائق تقوم بتوريد وتركيب العشب الصناعي في كافة أنحاء المملكة العربية السعودية. إن عملية تركيب سجاد العشب الصناعي مهمة للغاية، ويجب أن يقوم بها طاقم فني متخصص في توريد وتركيب العشب الصناعي لتقديم أفضل مظهر وأداء لعملائنا. 
    </p>
    <p class=" mb-4">
        إن شركة بستان الخليج لتنسيق الحدائق عملت على تدريب طواقمها لتركيب العشب الصناعي في السعودية على مدار سنوات عديدة لتوفير أفضل وأسرع خدمة للعميل. يمتاز العشب الصناعي بالقدرة على التحكم فيه من حيث اللون والدرجة المستخدمة، والنوع المستخدم أيضًا في التركيب. تختلف الأسعار في المملكة العربية السعودية باختلاف الشركات، ولكن ستجد أفضل الأسعار مع شركة بستان الخليج التي تقدم العديد من الخدمات المختلفة للعملاء.
    </p>

    <strong class="display-4 fw-bold mb-2 pb-3 myh2" style="padding-bottom: 1vh;">أهم ما يميزنا:</strong>
        <ol>
            <li>الاعتماد على الأدوات الحديثة في تركيب العشب حتى يخلو من الأخطاء ويظهر بشكل طبيعي.</li>
            <li>توفير أفضل أسعار العشب الصناعي في المملكة مع الحرص على تقديم خدمات عالية الجودة بتكلفة منخفضة نسبيًا مقارنة مع الشركات الأخرى.</li>
            <li>السرعة في تلبية طلبات العملاء، وتوفير مندوبين مختصين للرد على استفسارات العملاء في أي وقت على مدار اليوم.</li>
            <li>توفير عمالة مدربة بمهارة فائقة وسرعة عالية في تركيب العشب الصناعي.</li>
        </ol>

    
  </div>
  

  <!-- <div class="container-fluid p-5 section2">
    <div class="d-flex justify-content-center">
        <h1  class="display-4 fw-bold mb-4 myh2"  >تفاصيل عن الخدمة</h1>
    </div>
  
    <p class="lead mb-4">
        <strong>العشب الصناعي</strong> هو عبارة عن مجموعة من اللفائف التي تحتوي على العديد من الشفرات الرقيقة أو الشعيرات التي تمتاز بلونها الأخضر الطبيعي، لتشبه تمامًا العشب الطبيعي. ينقسم العشب الصناعي إلى العشب المتداخل المعروف باسم “سيتم جراس”، والعشب العريض المعروف باسم “فايبر ليتد”، والعشب النحيف المعروف باسم “مونافايلمنت”.
    </p>
    <p class="lead mb-4">
        شركة بستان الخليج لتنسيق الحدائق تقوم بتوريد وتركيب العشب الصناعي في كافة أنحاء المملكة العربية السعودية. إن عملية تركيب سجاد العشب الصناعي مهمة للغاية، ويجب أن يقوم بها طاقم فني متخصص في توريد وتركيب العشب الصناعي لتقديم أفضل مظهر وأداء لعملائنا. 
    </p>
    <p class=" mb-4">
        إن شركة بستان الخليج لتنسيق الحدائق عملت على تدريب طواقمها لتركيب العشب الصناعي في السعودية على مدار سنوات عديدة لتوفير أفضل وأسرع خدمة للعميل. يمتاز العشب الصناعي بالقدرة على التحكم فيه من حيث اللون والدرجة المستخدمة، والنوع المستخدم أيضًا في التركيب. تختلف الأسعار في المملكة العربية السعودية باختلاف الشركات، ولكن ستجد أفضل الأسعار مع شركة بستان الخليج التي تقدم العديد من الخدمات المختلفة للعملاء.
    </p>
  
        <strong class="display-4 fw-bold mb-2 pb-3 myh2" style="padding-bottom: 1vh;">أهم ما يميزنا:</strong>
       
<ol>
    <li>الاعتماد على الأدوات الحديثة في تركيب العشب حتى يخلو من الأخطاء ويظهر بشكل طبيعي.</li>
            <li>توفير أفضل أسعار العشب الصناعي في المملكة مع الحرص على تقديم خدمات عالية الجودة بتكلفة منخفضة نسبيًا مقارنة مع الشركات الأخرى.</li>
            <li>السرعة في تلبية طلبات العملاء، وتوفير مندوبين مختصين للرد على استفسارات العملاء في أي وقت على مدار اليوم.</li>
            <li>توفير عمالة مدربة بمهارة فائقة وسرعة عالية في تركيب العشب الصناعي.</li>
</ol>
  </div>
   -->