

<p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"
[showTransformOptions]="'translateX(100%)'"></p-toast>

  <div   class="container row;" style="padding: 2rem;">
      <div class="col-md-6">
          <div class="form">
              <h2  class="text-center" style="margin-top: -20px; text-align: center">{{"users.addTitle"|translate}}</h2>
              <form [formGroup]="userForm">
                  <div style="margin-bottom: 10;" class="row">
                      <div  class="col-md-12">
                        <span  style="color: red; margin:0 5px;" *ngIf="userForm.get('username')?.errors?.['required']">*</span>
                        <label class="form-label">{{"users.username"|translate}}</label>
                        <input class="form-control"  formControlName="username" required/>
                      </div>
                  </div>
                  <div style="margin-bottom: 10;" class="row">
                      <div class="col-md-12">
                        <span style="color: red; margin:0 5px;" *ngIf="userForm.get('password')?.errors?.['required']">*</span>
                        <label class="form-label">{{"users.password"|translate}}</label>
                        <input type="password" class="form-control"  formControlName="password" required/>
                      </div>
                  </div>
                  <div style="margin-bottom: 10;" class="row">
                    <div class="col-md-12">
                      <span style="color: red; margin:0 5px;" *ngIf="userForm.get('confirmationPassword')?.errors?.['required']">*</span>
                      <label class="form-label">{{"users.confirmationPassword"|translate}}</label>
                      <input type="password" class="form-control"  formControlName="confirmationPassword" required/>
                      <small class="text-danger"
                           *ngIf="userForm.errors?.['passwordMismatch'] && (confirmPassword.touched && (Password.touched &&userForm.get('password')?.valid))">
                           {{"users.confirmationPasswordErrorMessage"|translate}} 
                      </small>
                    </div>
                </div>
                  <div  class="row">
                    <div class="col-md-12">
                        <!-- <span style="color: red; margin:0 5px;" *ngIf="userForm.get('phone')?.errors?.['required']">*</span> -->
                        <label class="form-label">{{"users.phone"|translate}}</label>
                        <app-EgyptPhoneNumberInput [required]="false" style="width: 100%;"  formControlName="phone" />
                    </div>
                </div>
                <div style="margin-bottom: 10;" class="row">
                  <div class="col-md-12">
                    <!-- <span style="color: red; margin:0 5px;" *ngIf="userForm.get('email')?.errors?.['required']">*</span> -->
                    <label class="form-label">{{"users.email"|translate}}</label>
                    <input type="email" class="form-control"   formControlName="email" />
                 </div>
              </div>
              <div style="margin-bottom: 20px;" class="row">
                <div class="col-md-12">
                  <div class="row">
                      <div class="col-md-12">
                        <span style="color: red; margin:0 5px;" *ngIf="userForm.get('role')?.errors?.['required']">*</span>
                        <label  class="form-label">{{"users.role"|translate}}</label>
                        <p-dropdown  formControlName="role" [options]="roles" optionLabel="name" optionValue="value"  placeholder="{{'users.rolePlacehoder'|translate}}" [required]="true"></p-dropdown>
                      </div>
                  </div>
                </div>
            </div>
            <div  class="row">
              <div class="col-md-6">
                <button  class="discard"  (click)="discard()" type="submit" >{{'button.return'|translate}}</button>    
              </div>
              <div class="col-md-6">
                <button type="submit"  class="add" (click)="onsubmit()" (keyup.enter)="onsubmit()" type="submit" [disabled]="!userForm.valid">{{'button.add'|translate}}</button>   
              </div>  
            </div>
              </form>
          </div>
          
      </div>
  </div>





