






<div class="row " style="width: 100%;">
  <div class="col-md-2" style="padding: 0;min-height: 100vh;">
      <div class="sidebar">
          <div class="nav-items">
              <a routerLink="/super-admin/dashboard">
                  <div routerLinkActive="active" class="nav-item">
                      <fa-icon [icon]="faHome" ></fa-icon>
                     <span>{{'MLayout.dashboard'|translate}}</span>
                     
                    </div>
                </a>
            
            <a  routerLink="/super-admin/printers">
              <div     routerLinkActive="active" class="nav-item">
                  <fa-icon [icon]="faPrint"></fa-icon>
                  <span>{{'hardware.printers'|translate}}</span>
                </div>
            </a>
          
            <a  routerLink="/super-admin/accessControllers">
              <div routerLinkActive="active" class="nav-item">
                  <fa-icon [icon]="faDoorOpen"></fa-icon>
                  <span>{{'hardware.accessControls'|translate}}</span>
              </div>
            </a>
          
           

           
          </div>
        </div>
      </div>
      <div   class="col-md-10 " >
          <router-outlet  >
          </router-outlet>
      </div>



</div>
 