.gallery-container {
  background-color: #eee;
  padding: 0;
  font-family: 'Cairo';
}

.gallery-wrapper {
  margin-top: 10vh;
  height: 90vh; /* Adjust based on your navbar height */
}

.galleria-item {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.galleria-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px); /* Initial blur effect */
  transition: filter 0.3s ease-in-out;
  animation: zoomOut 10s ease-in-out infinite; /* Add animation to the image */
}

.galleria-item:hover .galleria-image {
  filter: none; /* Remove blur on hover */
}

.centered-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* background: rgba(0, 0, 0, 0.4);  */
  padding: 20px;
  border-radius: 10px;
  width: 80%; /* Adjust width as needed */
}

.description-text {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  line-height: 1.5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Text shadow for better readability */
  font-family: 'Arial', sans-serif; /* Customize font as needed */
}

@keyframes zoomOut {
  0% {
    transform: scale(1.2); /* Start from a larger scale */
  }
  100% {
    transform: scale(1); /* End at normal scale */
  }
}


.btn-gallary{
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-size:3vmax;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%; /* Adjust width as needed */
}

.btn-gallary:hover{
  background-color:rgba(0, 0, 0, 0.4)
}
.header-icon {
  background-color: #529846;
  color: #fff;
  border-radius: 50%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.mycard{
  border-radius: 10%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.mycard:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
}