<section class="hero-section1 pt-5">
  <div class="hero-overlay"></div>
  <div class="hero-content container pt-5">
      <div class="text-center">
          <h1 class="hero-title pb-2">أعمالنا</h1>
          <a class="btn btn-primary mt-5" href="tel:+966533927072">
              <i class="fas fa-phone-alt"></i> اتصل بنا الآن
          </a>
      </div>
  </div>
</section>

<div class="filter-buttons">
  <button *ngFor="let category of categories"
          class="filter-button"
          [class.active]="selectedFilter === category.category"
          (click)="filterItems(category.category)">
    {{ category.name }}
  </button>
  <button class="filter-button" [class.active]="selectedFilter === 'all'" (click)="filterItems('all')">الكل</button>
</div>

<div class="portfolio-grid">
  <div class="portfolio-item" *ngFor="let item of filteredImages" @fadeInOut>
    <div class="image-container">
      <img [src]="item.image" alt="Portfolio Image">
      <div class="overlay">
        <div class="text">{{ item.description }}</div>
      </div>
    </div>
  </div>
</div>
