.hero-section1 {
    position: relative;
    height: 50vh;
    background: url('../../assets/2.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-align: center;
    overflow: hidden;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.656);
    transition: background 0.3s ease;
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero-title {
    font-size: 5rem;
    font-weight: bolder;
    margin-bottom: 1rem;
    font-family: 'Cairo', sans-serif;
}

.hero-subtitle {
    font-size: 1.5rem;
    font-weight: lighter;
    margin-bottom: 1.5rem;
}

.hero-description {
    font-size: 1.125rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.btn-primary {
    background-color: #27ae60;
    border: none;
    color: #ffffff;
    font-size: 1.125rem;
    padding: 0.75rem 1.5rem;
    border-radius: 0.375rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
    background-color: #219150;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .hero-title {
        font-size: 2rem;
    }

    .hero-subtitle {
        font-size: 1.2rem;
    }

    .hero-description {
        font-size: 1rem;
    }
}

.hero-section1:hover .hero-overlay {
    background: rgba(0, 0, 0, 0.33);
}

/*Section two*/
.filter-buttons {
  text-align: center;
  margin-bottom: 20px;
}

.filter-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  background-color: #27ae60; /* Changed color to green */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff; /* Changed text color to white */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-buttons button.active, .filter-buttons button:hover {
  background-color: #219150; /* Changed hover color to a darker shade of green */
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.portfolio-item {
  position: relative;
  transition: transform 0.3s ease;
}

.portfolio-item:hover {
  transform: translateY(-5px);
}

.image-container {
  position: relative;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container:hover .overlay {
  opacity: 1;
  transform: scale(1.1);
}

.overlay .text {
  color: white;
  font-size: 18px;
  text-align: center;
}

@media (max-width: 768px) {
  .filter-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .filter-buttons button {
    margin: 5px;
  }

  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
