<section class="hero-section1 pt-5">
    <div class="hero-overlay"></div>
    <div class="hero-content container pt-5">
        <div class="text-center">
            <h1 class="hero-title">تواصل معنا</h1>
            <a class="btn btn-primary mt-3" href="#contact">
                <i class="fas fa-phone-alt"></i> اتصل بنا الآن
            </a>
        </div>
    </div>
</section>

<!-- Section Two -->
<section class="contact-us-section">
    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1058135.5305606507!2d38.29880690000001!3d23.59583200000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1501d6e5b204be47%3A0x78c596ab123b58cf!2sSaudi%20Arabia!5e0!3m2!1sen!2sus!4v1633011293357!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
    <div class="contact-container">
        <div class="card">
            <h2 class="card-title">اتصل بنا</h2>
            <p class="card-description">
                يسعدنا تواصلكم معنا في <strong>شركة بستان الخليج</strong>. إذا كان لديك أي استفسارات حول خدماتنا، لا تتردد في الاتصال بنا.
            </p>
            <form>
                <input type="text" class="form-control" placeholder="الاسم الكامل" formControlName="fullName" required>
                <input type="email" class="form-control" placeholder="البريد الإلكتروني" formControlName="email" required>
                <textarea class="form-control" rows="5" placeholder="رسالتك" formControlName="message" required></textarea>
                <button type="submit" class="btn btn-primary">إرسال الرسالة</button>
            </form>
        </div>
        <div class="info-card">
            <h3 class="info-title">معلومات الاتصال</h3>
            <p class="info-description">يمكنك التواصل معنا عبر الواتساب أو الاتصال بنا مباشرة على الرقم 0533927072</p>
            <div class="info-buttons">
                <a href="https://wa.me/966533927072" class="btn btn-success" target="_blank">
                    <i class="fab fa-whatsapp"></i> واتساب
                </a>
                <a href="tel:+966533927072" class="btn btn-primary">
                    <i class="fas fa-phone-alt"></i> اتصال
                </a>
            </div>
        </div>
    </div>
</section>
