

<div class="container" >
    <div class="row" style="margin-top: 20vh;">
      <div class="col-md-8">
        <div *ngFor="let section of sections" [id]="section.id" class="blog-section">
          <div class="d-flex justify-content-center m-2">
            <h1 class=" p-3"style="display: block;font-size: 2rem; font-weight:bold"> {{section.title}} </h1>
          </div>
          <img [src]="section.itemImageSrc" width="100%" height="50%"/>
          <p>{{ section.content }}</p>
          <div class="d-flex justify-content-center m-2">
            <button class="btn btn-primary" style="width: 100px;" (click)="openNewTab(section.url)">المزيد</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
       
        <!-- <input type="text" [(ngModel)]="searchText" placeholder="بحث..... " class="form-control mb-3 fas fa-search" /> -->
       
        <p-iconField iconPosition="left" >
          <p-inputIcon styleClass="pi pi-search" />
          <input type="text" pInputText placeholder="بحث....." />
        </p-iconField>
        <ul class="list-group">
          <li 
            *ngFor="let section of filteredSections" 
            class="list-group-item" 
            (click)="scrollToSection(section.id)">
            <div class="row">
              <div class="col-4">
                <img [src]="section.itemImageSrc" width="100%" height="100%"/>
              </div>
              <div class="col-8">
                <p> {{ section.title }}</p>
               <span>التفاصيل والانواع</span>

              </div>
            </div>
       
         
          </li>
        </ul>
      </div>
    </div>
  </div>
  