<mat-toolbar color="primary">
    <div class="toolbar-logo">
        <img src="path/to/your/logo.png" alt="Logo">
    </div>
    <div class="toolbar-title">
      <span> الرُيسية</span>
      <span> من نحن</span>
      <span>  أعمالنا</span>
      <span>  خدمانا</span>
      <span>  تواصل معنا</span>
      <span>  مدونة تنسيق الحدائق</span>
    </div>
    <div class="toolbar-section">
      <button mat-button class="custom-button" style=" background-color: #74AC6A;"> عرض أسعار</button>
      <button  mat-button class="custom-button"style=" background-color: #EFCA63;">اتصل بنا</button>
    </div>
    </mat-toolbar>