<!-- In your HTML file -->

<nav class="navbar navbar-expand-lg navbar-light hero-navbar fixed-top" style="height: fit-content;">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/206.png" class="header_logo" alt="بستان الخليج لتنسيق الحدائق">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto p-3">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">الرئيسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutus" routerLinkActive="active-link">من نحن</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ourwork" routerLinkActive="active-link">أعمالنا</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" routerLink="/ourservices" role="button" aria-haspopup="true" aria-expanded="false">
            خدماتنا
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/natural-grass" routerLinkActive="active-link">العشب الطبيعي</a>
            <a class="dropdown-item" routerLink="/unnatural-grass" routerLinkActive="active-link">العشب الصناعي</a>
            <a class="dropdown-item" routerLink="/treesAndFlowers" routerLinkActive="active-link">الأشجار والزهور</a>
            <a class="dropdown-item" routerLink="/wallGrass" routerLinkActive="active-link">العشب الجداري</a>
            <a class="dropdown-item" routerLink="/playgarden" routerLinkActive="active-link">تصميم الملاعب</a>
            <a class="dropdown-item" routerLink="/grdenMaintence" routerLinkActive="active-link">صيانة الحدائق</a>
            <a class="dropdown-item" routerLink="/agriculturalDecoration" routerLinkActive="active-link">الديكورات الزراعية</a>
            <a class="dropdown-item" routerLink="/pergolas" routerLinkActive="active-link">البرجولات</a>
            <a class="dropdown-item" routerLink="/fountains" routerLinkActive="active-link">النافورات</a>
            <a class="dropdown-item" routerLink="/pestControl" routerLinkActive="active-link">مكافحة الآفات</a>
            <a class="dropdown-item" routerLink="/Waterfall" routerLinkActive="active-link">الشلالات</a>
            <a class="dropdown-item" routerLink="/irrigationNetwork" routerLinkActive="active-link">شبكات الري</a>
          </div>
        </li>
                <li class="nav-item">
          <a class="nav-link" routerLink="/connectwithus" routerLinkActive="active-link">تواصل معنا</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog" routerLinkActive="active-link">مدونة تنسيق الحدائق</a>
        </li>
      </ul>
      <div class="navbar-buttons d-flex p-1">
        <a href="https://wa.me/966533927072" class="btn custom-button primary-button" target="_blank">
          عرض أسعار
        </a>
        <a href="tel:+966533927072" class="btn custom-button secondary-button">
          اتصل بنا
        </a>
      </div>
    </div>
  </div>
</nav>


