
<p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"
[showTransformOptions]="'translateX(100%)'"></p-toast> 


<div class="container ">

  <div class="table-container  col-xs-12 col-xl-9" style="width: 100%;padding: 0; ">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-2"  style="margin-top:25px">
       
      </div>
     </div>
     <p-table #dt1 
     [value]="accessControls"
     [paginator]="true"
      [rows]="13" 
      [tableStyle]="{ 'min-width': '50rem' ,'width':'100%'}"
       styleClass="table " selectionMode="single" [(selection)]="selsectedItem"
       dataKey="id"
        [tableStyle]="{}"
        [showCurrentPageReport]="true"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
       [globalFilterFields]="['ip_address']"
       paginatorLocale="fa-IR"
       >
       <ng-template pTemplate="caption" class="row" style="border: none;background-color: #ac8a87;">
         <div class="row" style="padding: 0 1rem;">
          
         <div class="flex col-md-6" >
            
             <span class="p-input-icon-left ml-auto">
                 <i class="pi pi-search"></i>
                 <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')" placeholder='{{"users.search"|translate}}' />
             </span>
         </div>
         <div class="col-md-4"></div>
             <div class="flex  col-md-2">
              
        
           </div>
         </div>
     </ng-template>
       <ng-template  pTemplate="header">
         <tr style="height: 10px;">
           <th  pSortableColumn="ip_address">
             ip
            
           </th>
           <th  class="operations">
             <button  class="btn table-button add-t-button " data-bs-toggle="modal" data-bs-target="#addaccessControllerMoadl">{{"tabel.add"|translate}}</button>
           </th>
           
         </tr>
       </ng-template>
 
       <ng-template styleClass="selected-row" pTemplate="body" let-rowData let-rowIndex="rowIndex">
         <tr [pSelectableRow]="selsectedItem">
           <td>{{rowData.ip_address}}</td>
           <td class="operations">
             <mat-icon (click)="updatePopup(rowData,updateaccessControlForm)" style="color: #5C3D54;"  data-bs-toggle="modal" data-bs-target="#updateaccessControllerMoadl">edit</mat-icon>
             <mat-icon style="margin: 0 20px;color: #5C3D54;"  (click)="onDeleteAceesscontrol(rowData.id)">delete</mat-icon>
           </td>       
         </tr>
       </ng-template>
       <ng-template pTemplate="emptymessage">
         <tr>
             <td colspan="7">{{"users.noData"|translate}}</td>
         </tr>
     </ng-template>
     </p-table>
  </div>
</div>



  




<div class="modal fade" id="addaccessControllerMoadl" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width: 80%;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">  {{"hardware.addAccessControls"|translate}} </h2>
      </div>
      <div class="modal-body">
          <form [formGroup]="accessControlForm">
              <div style="margin-bottom: 10;" class="row">
                  <div  class="col-md-12">
                    <label class="form-label">ip</label>
                    <input class="form-control"  formControlName="ip_address"/>
                    <mat-error *ngIf="accessControlForm.get('ip_address')?.errors?.['invalidIP']">
                      {{"hardware.invalidIp"|translate}}
                    </mat-error>
                  </div>
              </div>
          </form>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn ssc-table-button" data-bs-dismiss="modal">
          {{"tabel.close"|translate}}
        </button>
        <button type="button" [disabled]="!accessControlForm.valid" class="btn table-button"
          (click)="onAddAcessController()"  (keyup.enter)="onAddAcessController()" data-bs-dismiss="modal">
          {{"tabel.submit"|translate}}
        </button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="updateaccessControllerMoadl" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width: 80%;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">  {{"hardware.updateAccessControls"|translate}} </h2>
      </div>
      <div class="modal-body">
          <form [formGroup]="updateaccessControlForm">
              <div style="margin-bottom: 10;" class="row">
                  <div  class="col-md-12">
                    <label class="form-label">ip</label>
                    <input class="form-control"  formControlName="ip_address"/>
                    <mat-error *ngIf="updateaccessControlForm.get('ip_address')?.errors?.['invalidIP']">
                      {{"hardware.invalidIp"|translate}}
                    </mat-error>
                  </div>
              </div>
          </form>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn ssc-table-button" data-bs-dismiss="modal">
          {{"tabel.close"|translate}}
        </button>
        <button type="button" class="btn table-button"
          (click)="onUpdateAceesscontrol()"  (keyup.enter)="onUpdateAceesscontrol()" data-bs-dismiss="modal">
          {{"tabel.submit"|translate}}
        </button>
      </div>
    </div>
  </div>
</div> 