<div class="  container-fluid p-4 services-section"style='background-color:#eee'>

  
  
    
    </div>
    <div class="container-fluid p-5 services-section" style='background-color:#eee'>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
          <h1 style="color: rgb(75, 158, 61);">خدماتنا</h1>
          <p>لدينا مجموعة متنوعة من خدمات تنسيق حدائق وانشاء وتصميم الشلالات وبناء وتركيب النوافير وتركيب المظلات وثيل طبيعي ومسطحات خضراء وتركيب ثيل صناعي بانواعه وتركيب وتوريد العشب الجداري وتزيين الاشجار وزرع النخل والشتلات وتركيب شبكات ري وتركيب حجر عشوائي وممرات وتصاميم مخططات لاند سكيب و مقاولات عامة بأقل سعر وأعلى جودة في المملكة العربية السعودية.</p>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <mat-card class="mycard">
            <mat-card-header>
              <img src="./../assets/خدمة-تنسيق-الحدائق-أبشر-لتنسيق-الحدائق-في-السعودية.jpg" alt="My Image" class="header-image">
            </mat-card-header>
            <mat-card-content>
              <mat-card-title class="center-title"><h2>تصميم وتنسيق حدائق</h2></mat-card-title>
              <p>نقوم بعمل تصميم وتنسيق وصيانة جميع أنواع الحدائق سواء الحدائق المنزلية الصغيرة أو الكبيرة وكذلك الحدائق على أسطح المنازل. كما نقوم بتنسيق وصيانة الحدائق العامة. ونوفر للعميل أفضل أفكار تزيين الحدائق واختبار تصميم الحدائق قبل التركيب بأحدث الوسائل والأجهزة</p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-4 col-sm-12">
          <mat-card class="mycard">
            <mat-card-header>
              <img src="../../assets/خدمة-توريد-وتركيب-عشب-ثيل-صناعي-أبشر-لتنسيق-الحدائق-في-السعودية.jpg" alt="My Image" class="header-image">
            </mat-card-header>
            <mat-card-content>
              <mat-card-title class="center-title"><h3>تصميم وتنسيق حدائق</h3></mat-card-title>
              <p>نقوم بعمل تصميم وتنسيق وصيانة جميع أنواع الحدائق سواء الحدائق المنزلية الصغيرة أو الكبيرة وكذلك الحدائق على أسطح المنازل. كما نقوم بتنسيق وصيانة الحدائق العامة. ونوفر للعميل أفضل أفكار تزيين الحدائق واختبار تصميم الحدائق قبل التركيب بأحدث الوسائل والأجهزة</p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-4 col-sm-12">
          <mat-card class="mycard">
            <mat-card-header>
              <img src="../../assets/خدمة-تنسيق-الحدائق-أبشر-لتنسيق-الحدائق-في-السعودية.jpg" alt="My Image" class="header-image">
            </mat-card-header>
            <mat-card-content>
              <mat-card-title class="center-title"><h3>تركيب عشب (ثيل) طبيعي</h3></mat-card-title>
              <p>نقوم بعمل تصميم وتنسيق وصيانة جميع أنواع الحدائق سواء الحدائق المنزلية الصغيرة أو الكبيرة وكذلك الحدائق على أسطح المنازل. كما نقوم بتنسيق وصيانة الحدائق العامة. ونوفر للعميل أفضل أفكار تزيين الحدائق واختبار تصميم الحدائق قبل التركيب بأحدث الوسائل والأجهزة</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  
  