.selected-row {
    background-color: rgb(241, 58, 58) !important;
    color: #fff !important;
    font-size: large;
  
  }

  .other-class{
    background-color: #3333 !important;
  }

  .scrollable-expansion {
    max-height: 500px !important; /* Set your desired height */
    overflow-y: scroll;
  }
  