/* You can add global styles to this file, and also import other style files */
/* @import '/node_modules/ngx-toastr/toastr.css';
@import '/node_modules/ngx-spinner/animations/ball-circus.css';
 @import '@angular/material/theming';
 @import "primeng/resources/themes/lara-light-blue/theme.css";
 @import "primeng/resources/primeng.css";
 @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */
html, body {
   height: 100%;
   scroll-behavior: smooth;
  }
body { margin: 0; font-family: 'Cairo', "Helvetica Neue", sans-serif;

background-color: #ECFFE9;
}





.sidebar{
    background-color: #3D4B65 ;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.customLink{
    color:#fff !important;
    text-decoration: none;
    font-size: medium;
}

.form-group {
    margin-bottom: 15px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .parking-button {
    margin-top: 20px;
    background-color: #007bff !important;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 100% !important;
    color: white !important;
    border: none !important;
  }

  button:disabled {
    background-color: #ccc !important;
    cursor: not-allowed;
  }

  .form-control:disabled {
    background-color: #F2F2F2 !important;
  }
  .form-control {
    width: 100%;
    height: 41px;
    border-radius: 10px !important;
    text-align: right;
}
.form-control-required:disabled{
  background-color: #cccc !important;
}
.form-control-required{
    width: 100% !important;
    height: 41px  !important;
    border-radius: 10px  !important;
    border: none;

    text-align: right;
}
.form-control-required:focus {
  border-color: #393939 !important;
  border: 1px !important;
  box-shadow: 0 0 0 0.2rem rgba(119, 119, 119, 0.25) !important;
}
.form-control:focus {
    border-color: #393939 !important;
    box-shadow: 0 0 0 0.2rem rgba(119, 119, 119, 0.25) !important;
}
.form-label{
    display: inline;
    margin-top: 30px !important;
    font-weight: bolder;
}


.add-forms-title {
    font-size: 24px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
.form {
  background-color: #fff;
  margin: 0px;
  padding: 2.5rem 2.5rem  1rem 2.5rem;
  height: fit-content;
  border:1px solid #999999;
  border-radius: 5px ;
  width: 90%;
  min-height: 15rem !important;
}
.form-header {
  font-size: 1.5rem;
  word-spacing: .3rem;
  margin-bottom: 2rem !important;
  font-family: "Noto Sans Arabic";
  text-align: center;
  color: white;
}


.table {
  border: 2px solid rgb(194, 194, 194);
  border-radius: 10px;
  overflow: auto;
}

.table2{
  border: none;
}

table th {
  text-align: center !important;
  background-color: rgb(119, 119, 119) !important;
  color: white !important;
}
.operations {
  width: 200px;
  text-align:end!important;
}
.table-button {
  padding: 4px 10px !important;
  border: 1px solid black;
  color: white !important;
  background-color: #3B5999 !important;
  margin: .2rem;
}
.delete-button {
  padding: 4px 10px !important;
  border: 1px solid black;
  color: white !important;
  background-color: #3B5999 !important;
  margin: .2rem;
}
.add-t-button {
  width: 100px !important;
  padding: 4px 10px !important;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #000 !important;
  background-color: #fff !important;
  width: auto;
}
.print{
  width: 100%;
  border: 1px solid ;
  border-radius: 5px;
  color: #fff !important;
  background-color: #3B5999!important;
  color: #fff !important;
}
.add-button {
  margin-top: 50px;
  width: 100px !important;
  padding: 4px 10px !important;
  border: 1px solid ;
  border-radius: 5px;
  color: #fff !important;
  background-color: #3B5999 !important;
  width: auto;
  float: inline-end;
}
.prev-button {
  margin-top: 50px;
  width: max-content!important;
  padding: 4px 10px !important;
  border: 1px solid ;
  border-radius: 5px;
  color: #fff !important;
  background-color: #3B5999 !important;
  width: auto;
  float: inline-start;
}
.p-inputtext {
  height: 40px !important;
}
.p-dropdown{
  width: 100% !important;
  position: relative;
}
.p-dropdown .p-dropdown-item {
  color: #333; /* Set the text color of dropdown items */
}
.p-dropdown span {
  color: #000;
}

.p-datatable .p-datatable-tbody>tr>td {
  padding: 3px !important;
  text-align: right !important;
  padding-right: 1rem !important;

}

.p-datatable .p-datatable-thead>tr>th {
  padding: .75rem !important;
  text-align: right !important;
  padding-right: 1rem !important;

}

.p-datatable .p-datatable-thead>tr>th .form-control {
  height: 32px !important;
}

.p-paginator {
  padding: 0px !important;
}


.table {
  border: 2px solid rgb(194, 194, 194);
  border-radius: 10px;
  overflow: hidden !important;
}

.p-paginator {
  direction: ltr !important;
}

.table th {
  text-align: center !important;
  background-color: #A8A8A8 !important;
  color: white !important;
}
.p-datatable-scrollable-body {
  overflow-y: hidden !important;
}
.table td {
  text-align: center !important;
  font-size: 14px;
}

tr:focus {
  outline: none !important;
}

tr.p-highlight {
  color: rgb(0, 0, 0) !important;
  background-color: #d0d0d0 !important;
  outline: none !important;
  box-shadow: none !important;
}

.p-datatable .p-datatable-header {
  border: none;
  padding: 0;
}

.form-control {
  background-color: #ffffff !important;
}


.text-center {
  font-weight: bolder;
  font-size: xx-large;
  text-decoration: underline;
  text-align: center;
  color: #3B5999;
}

.p-paginator button{
  min-width: 1.5rem !important;
  height: 1.5rem !important;
}


.modal-dialog {
  min-width: max-content !important;
  width: 1500px !important;
}


.modal-dialog {
  width: 100%;
  max-width: 800px; /* Adjust max-width as needed */
}
.disabled-field{
  background-color:#fafafa !important;
}
/* Media query for smaller screens */
@media (max-width:1000px) {
  .modal-dialog {
    max-width: 90%; /* Adjust max-width for smaller screens */
  }
}

/* Media query for larger screens */
@media (min-width: 992px) {
  .modal-dialog {
    max-width: 60%; /* Adjust max-width for larger screens */
  }
}

.add {
  width: 100px !important;
  padding: 4px 10px !important;
  border: 1px solid ;
  border-radius: 5px;
  color: #fff !important;
  background-color: #3B5999 !important;
  width: auto;
  float: inline-end;
}
.discard {

  width: 100px!important;
  padding: 4px 10px !important;
  border: 1px solid ;
  border-radius: 5px;
  color: #fff !important;
  background-color: #3B5999 !important;
  width: auto;
  float: inline-start;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}



/* Custom Theme Colors */
:root {
  --primary-color: #4CAF50; /* Example primary color */
  --secondary-color: #FFC107; /* Example secondary color */
}

/* Body Styling */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

/* Header Styling */
app-header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 0;
}


/* Form Styling */
.form-control {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
}

/* Button Styling */
.button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

/* Table Styling */
.table {
  border-collapse: collapse;
  width: 100%;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.table th {
  background-color: var(--primary-color);
  color: #fff;
}



.p-inputtext{
  width: 100% ;
  direction: rtl !important;
}
.p-password {
  width: 100% !important;
  direction: rtl !important;

}

.p-float-label label{
  left: 70% !important;
  font-size: 17px;
  color: #000 !important;
}
.p-input-icon-right > .p-icon-wrapper{
  right: 90% !important;
}

.p-column-filter-overlay-menu .p-column-filter-operator {

  display: none !important;
}

.p-column-filter-overlay-menu .p-column-filter-add-rule{
  display: none !important;
}

.p-column-filter-buttonbar .p-button span {
  display: none !important;
}
.p-column-filter-buttonbar .p-button::after {
  content: 'تطبيق' !important; /* Custom Apply button text */
}
.p-button.p-button-outlined:after {
  content: 'الغاء' !important;
}

.p-column-filter-menu-button{
  color: #fff;
}
.p-datatable .p-sortable-column .p-sortable-column-icon{
  color: #fff;
}


.p-steps{
  padding: 2rem;
}

.p-element .p-button-text .p-button-rounded .p-button-plain .p-button .p-component .p-button-icon-only span{
  color: #000 !important;

}
.p-button.p-button-text{
  color: #000 !important;
}