/* You can add global styles to this file, and also import other style files */
/* @import '/node_modules/ngx-toastr/toastr.css';
@import '/node_modules/ngx-spinner/animations/ball-circus.css';
 @import '@angular/material/theming';
 @import "primeng/resources/themes/lara-light-blue/theme.css";
 @import "primeng/resources/primeng.css";
 @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */
html, body { height: 100%; }
body { margin: 0; font-family: 'Cairo', "Helvetica Neue", sans-serif;

background-color: #ECFFE9;
}



