html, body {
    height: 100%;
    scroll-behavior: smooth;
   }
 body { margin: 0; font-family: 'Cairo', "Helvetica Neue", sans-serif;
 

 }
 .p-link {
    text-align: left;
    cursor: pointer;
    user-select: none;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    border-radius: 10px;
  }
  .bg-light {
background-color: #fff !important;
  }