<div class="counter-container" >
    <div id="counterSection" class="counter-background">
    <!--     <div class="row container-fluid" style="padding-top: 2vh;">
            <div class="col-3"></div>
            <div class="col-2">
                <i style="color: #27ae60;" class="fas fa-phone-alt"></i>
                <a >   +966 53 392 7072</a>
            </div>
            <div class="col-2">
                <i style="color: #27ae60;" class="fa-brands fa-square-whatsapp"></i>
                <a> bsgmail.com</a>
            </div>
            <div  class="col-2">
                <i style="color: #27ae60;" class="fa-solid fa-envelope"></i>
                <a >   +966 53 392 7072</a>
            </div>
            <div class="col-3"></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-3">
                <p>جميع الحقوق محفوظة لشركة <span style="color: #27ae60;" >بستا الخليج</span></p>
            </div> 
        </div>-->
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <div class="d-flex justify-content-center">
            <img src="./../assets/206.png" class="header_logo" alt="بستان الخليج لتنسيق الحدائق" style="width: 10vh;height: 10vh;">
             
            </div>
            <div class=" d-flex justify-content-center">
                 <p style="font-size: larger;">
                بستان الخليج
                هي أفضل شركة لتنسيق الحدائق في الممكلة العربية السعودية، حيث نقوم بتصميم وتنسيق الحدائق بس
                 المنزلية والعامة، وتوريد وتركيب العشب الصناعي للحدائق والملاعب 
                    وكذلك زراعة العشب الطبيعي وزراعة الاشجار والورود والنخيل، وتركيب شلالات ونوافير منزلية،
                  وعمل ديكورات زراعية متنوعة، بالإضافة إلى تصميم وتركيب مظلات وبرجولات على أعلى مستوى.
                </p>
            </div>

        </div>
    <div class="col-md-3 col-sm-12 ml-5">
        <h3 class="myh">اهم الخدمات</h3>
        <ul style="padding: 0;" class="pt-4">
            <li class="pb-1">زراعة الاشجار والورود</li>
            <hr style="color: #74AC6A ;">
            <li class="pb-1"> تركيب عشب صناعى </li>
            <hr style="color: #74AC6A ;">
            <li class="pb-1">تركيب عشب طبيعى  </li>
            <hr style="color: #74AC6A ;">
            <li class="pb-1">تركيب عشب جدارى</li>
            <hr style="color: #74AC6A ;">
            <li class="pb-1">تصميم ملاعب</li>
            <hr style="color: #74AC6A ;">
          

        </ul>
    </div>
    <div class="col-md-3 col-sm-12 ml-5">
        <h3 class="myh">اهم الروابط</h3>
        <ul style="padding: 0;" class="pt-4">
            <li class="nav-item">
                <a class="nav-link" routerLink="/aboutus" routerLinkActive="active-link">من نحن</a>
              </li>
            <hr style="color: #74AC6A ;">
            <li class="nav-item">
                <a class="nav-link" routerLink="/ourwork" routerLinkActive="active-link">أعمالنا</a>
              </li>
              <hr style="color: #74AC6A ;">
              <li class="nav-item">
                <a class="nav-link" routerLink="/ourservices" routerLinkActive="active-link">خدماتنا</a>
              </li>
              <hr style="color: #74AC6A ;">
              <li class="nav-item">
                <a class="nav-link" routerLink="/connectwithus" routerLinkActive="active-link">تواصل معنا</a>
              </li>
              <hr style="color: #74AC6A ;">
              <li class="nav-item">
                <a class="nav-link" routerLink="/blog" routerLinkActive="active-link">مدونة تنسيق الحدائق</a>
              </li>
              <hr style="color: #74AC6A ;">
        </ul>
    </div>
            <div  class="col-md-3 col-sm-12 ml-5">
                <h3 class="myh">معلومات التواصل</h3>
                <ul  style="padding: 0;" class="pt-4">
                    <li>
                        <i class="fas fa-phone-alt"></i>
                        <a href="tel +966 53 392 7072">   +966 53 392 7072</a>
                    </li>
                     <hr style="color: #74AC6A ;">
                    <li>
                        <i class="fa-brands fa-square-whatsapp"></i>
                        <a href="tel +966 53 392 7072">   +966 53 392 7072</a>
                    </li>
                    <hr style="color: #74AC6A ;">
                    <li>
                        <i class="fa-solid fa-envelope"></i>
                        <a href="tel +966 53 392 7072">   +966 53 392 7072</a>
                    </li>
                    <hr style="color: #74AC6A ;">
                </ul>
            </div>
        </div> 
        
</div>
</div>
