<section class="hero-section">
    <div class="container">
      <div class="header d-flex justify-content-center">
        <h1 style="font-size: 3vmax; font-weight: bolder;margin-top: 20vh;" class="p-5"> تركيب عشب صناعى </h1>
      </div>
        <div class="row gx-4 align-items-center">
            <!-- Hero Content -->
            <div class="col-md-6 order-2 order-md-1 hero-content">
                <h2 class="display-4 fw-bold mb-4 myh2" style="color: #529846;;">توريد وتركيب العشب  والنجيل الطبيعى في المملكة العربية السعودية</h2>
                <div class="divider mb-4"></div>
                <p class="lead text-dark mb-4">
                    نقوم بتوريد وتركيب جميع أنواع العشب الصناعي بأعلى جودة وأفضل الأسعار. سواء كنت تبحث عن العشب العريض، النحيف أو المتداخل، فإننا نضمن لك تركيباً مثالياً يتناسب مع جميع الأرضيات سواء كانت أسمنتية، صخرية أو حتى رملية.
                </p>
                <p class="lead text-dark mb-4">
                    تتميز شركة بستان الخليج بقدرتها على توريد وتركيب العشب الصناعي للملاعب، الحدائق، الشرفات والمساحات الخاصة، بفضل فريق عمل مدرب ومهني يمتلك الخبرات والأفكار التي تتناسب مع كل مكان. نحن نضمن لكم خدمة ما بعد البيع والتركيب، حيث نتابع معكم أعمال الصيانة على مدار الساعة لضمان رضاكم التام عن الخدمة.
                </p>
                <p class="text-dark mb-4">
                    <strong>شركة بستان الخليج</strong> في المملكة العربية السعودية تحرص على تقديم أعلى جودة وأفضل أسعار للعشب الصناعي لضمان حصولكم على المساحات الخضراء المثالية التي تحلمون بها.
                </p>
                
                
               
            </div>
  
            <!-- Hero Image -->
            <div class="col-md-6 order-1 order-md-2">
                <div class="hero-image-wrapper">
                    <img class=" hero-image"  src="assets/5843704126544922454.jpg">
                    <div class="hero-image-overlay"></div>
                </div>
            </div>
        </div>
    </div>
  </section>

  

  

  <div class="container-fluid p-5 section2">
    <div class="d-flex justify-content-center">
        <h1  class="display-4 fw-bold mb-4 myh2"  >تفاصيل عن الخدمة</h1>
    </div>
  
    <p class="lead mb-4">
        <strong>العشب الصناعي</strong> هو عبارة عن مجموعة من اللفائف التي تحتوي على العديد من الشفرات الرقيقة أو الشعيرات التي تمتاز بلونها الأخضر الطبيعي، لتشبه تمامًا العشب الطبيعي. ينقسم العشب الصناعي إلى العشب المتداخل المعروف باسم “سيتم جراس”، والعشب العريض المعروف باسم “فايبر ليتد”، والعشب النحيف المعروف باسم “مونافايلمنت”.
    </p>
    <p class="lead mb-4">
        شركة بستان الخليج لتنسيق الحدائق تقوم بتوريد وتركيب العشب الصناعي في كافة أنحاء المملكة العربية السعودية. إن عملية تركيب سجاد العشب الصناعي مهمة للغاية، ويجب أن يقوم بها طاقم فني متخصص في توريد وتركيب العشب الصناعي لتقديم أفضل مظهر وأداء لعملائنا. 
    </p>
    <p class=" mb-4">
        إن شركة بستان الخليج لتنسيق الحدائق عملت على تدريب طواقمها لتركيب العشب الصناعي في السعودية على مدار سنوات عديدة لتوفير أفضل وأسرع خدمة للعميل. يمتاز العشب الصناعي بالقدرة على التحكم فيه من حيث اللون والدرجة المستخدمة، والنوع المستخدم أيضًا في التركيب. تختلف الأسعار في المملكة العربية السعودية باختلاف الشركات، ولكن ستجد أفضل الأسعار مع شركة بستان الخليج التي تقدم العديد من الخدمات المختلفة للعملاء.
    </p>
  
        <strong class="display-4 fw-bold mb-2 pb-3 myh2" style="padding-bottom: 1vh;">أهم ما يميزنا:</strong>
       
<ol>
    <li>الاعتماد على الأدوات الحديثة في تركيب العشب حتى يخلو من الأخطاء ويظهر بشكل طبيعي.</li>
            <li>توفير أفضل أسعار العشب الصناعي في المملكة مع الحرص على تقديم خدمات عالية الجودة بتكلفة منخفضة نسبيًا مقارنة مع الشركات الأخرى.</li>
            <li>السرعة في تلبية طلبات العملاء، وتوفير مندوبين مختصين للرد على استفسارات العملاء في أي وقت على مدار اليوم.</li>
            <li>توفير عمالة مدربة بمهارة فائقة وسرعة عالية في تركيب العشب الصناعي.</li>
</ol>
  </div>
  