<!-- Toggle button -->
<a href="javascript:void(0);" id="toggle-icons" (click)="toggleSocialIcons()">
    <i class="fas fa-plus"></i>
</a>

<div id="social-icons" class="social-icons">
    <a href="https://www.instagram.com/mhndsmrwlltnsyq?igsh=MTc3czhxbXhtY2FneA=="target="_blank">
        <i class="fab fa-instagram"></i>
    </a>
    <a href="https://www.tiktok.com/@aalr72?_t=8paPtpGiYbJ&_r=1"target="_blank">
        <i class="fab fa-tiktok"></i>
    </a>
    <a href="https://haraj.com.sa/users/%D8%B9%D9%85%D8%B1%D9%88%208" target="_blank">
        <i class="fas fa-user"></i>
    </a>
        <a href="https://www.snapchat.com/add/bstnlkhlyj24?share_id=85FmYg4gImY&locale=ar-IQ"target="_blank">
        <i class="fab fa-snapchat"></i>
    </a>
    <a href="https://wa.me/966533927072/?text=السلام عليكم فريق بستان الخليج  " target="_blank">
        <i class="fab fa-whatsapp"></i>
    </a>
</div>